.omniglot-hover {
	position: relative;
	display: inline-block;
	line-height: 0;
	overflow: hidden;
}

.omniglot-hover * {
	box-sizing: border-box;
}

.omniglot-hover__overlay {
	display: flex;
	flex-direction: column-reverse;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	overflow-y: auto;
	white-space: pre-wrap;
	transition: opacity 0.3s ease-in-out;
	padding: 0.5rem;
	font-size: 0.8rem;
	background-color: #000c;
	color: white;
	line-height: 1.5;
}

.omniglot-hover:not(:hover) .omniglot-hover__overlay {
	visibility: hidden;
	opacity: 0;
}

.omniglot-hover__overlay::-webkit-scrollbar {
	width: 8px;
}

.omniglot-hover__overlay::-webkit-scrollbar-thumb {
	background: #fff8;
	border-radius: 4px;
}

.omniglot-hover__text {
	display: block;
	width: 100%;
}

.omniglot-hover__copy-button {
	float: right;
	cursor: pointer;
	border: none;
	font-weight: bold;
	background: #ccc;
	color: black;
	border-radius: 3px;
	padding: 0.2rem;
	transition: background 0.3s ease-in-out;
	margin-left: 0.5rem;
}

.omniglot-hover__copy-button:hover {
	background: #fff;
}
